@model IEnumerable<EventServiceModel>

<div class="row">
    @foreach (var eventModel in Model)
    {
        <div class="col-md-4">
            <div class="card mb-3">
                <img class="card-img-top" src="@eventModel.ImageUrl" alt="@eventModel.Date">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">@eventModel.Name</h5>
                    <h5 class="card-title text-center">@eventModel.DateFormated</h5>
                    <h6 class="card-title text-center">Guide: @eventModel.GuideName</h6>
                    <h6 class="card-title text-center">Participants: @eventModel.Participants</h6>
                    @if (ViewBag.AllowEventStatus == true)
                    {
                        <h6 class="card-title text-center">Status: @(eventModel.IsPublic ? "Approved" : "NotApproved")</h6>
                    }
                    <a asp-controller="Events" asp-action="Details" asp-route-id="@eventModel.Id" asp-route-information="@eventModel.GetEventInformation()" class="btn btn-info">More Info</a>
                    @if (ViewBag.AllowEventEdit == true || User.IsAdmin())
                    {
                        <a asp-controller="Events" asp-action="Edit" asp-route-id="@eventModel.Id" class="btn btn-warning">Edit</a>
                        <a asp-controller="Events" asp-action="Delete" asp-route-id="@eventModel.Id" class="btn btn-danger">Delete</a>
                    }
                </div>
            </div>
        </div>
    }
</div>