@model IEnumerable<EventServiceModel>

<div class="row">
    @foreach (var eventModel in Model)
    {
        <div class="col-md-4">
            <div class="card mb-3">
                <img class="card-img-top" src="@eventModel.ImageUrl" alt="@eventModel.Date">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">@eventModel.Name</h5>
                    <h5 class="card-title text-center">@eventModel.Date</h5>
                    <h6 class="card-title text-center">Region: @eventModel.Region</h6>
                    <h6 class="card-title text-center">Level: @eventModel.Level</h6>
                    <h6 class="card-title text-center">Participants: @eventModel.Participants</h6>
                    <a asp-controller="Events" asp-action="Details" asp-route-id="@eventModel.Id" class="btn btn-info">More info</a>
                    <a class="btn btn-warning m-1" asp-controller="Events" asp-action="AddUser" asp-route-id="@eventModel.Id">Join Event</a>

                    @if (ViewBag.AllowEventEdit == true || User.IsAdmin())
                    {
                        <a asp-controller="Events" asp-action="Edit" asp-route-id="@eventModel.Id" class="btn btn-warning">Edit</a>
                        <a asp-controller="Events" asp-action="Delete" asp-route-id="@eventModel.Id" class="btn btn-danger">Delete</a>
                    }
                </div>
            </div>
        </div>
    }
</div>