@model EventFormModel

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">@ViewBag.Title</h2>

        <form method="post">
            <div class="form-group">
                <label asp-for="Date"></label>
                <input asp-for="Date" class="form-control" placeholder="13.08.2021 ... ">
                <span asp-validation-for="Date" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartingHour"></label>
                <input asp-for="StartingHour" class="form-control" placeholder="10:30 ... ">
                <span asp-validation-for="StartingHour" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Emen Canyon ...">
                <span asp-validation-for="Name" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" class="form-control" placeholder="Your fine URL here...">
                <span asp-validation-for="ImageUrl" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartPoint"></label>
                <input asp-for="StartPoint" class="form-control" placeholder="Village Emen, etc...">
                <span asp-validation-for="StartPoint" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" rows="4" class="form-control" placeholder="Let's go together to ..."></textarea>
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegionId"></label>
                <select asp-for="RegionId" class="form-control">
                    @foreach (var region in Model.Regions)
                    {
                        <option value="@region.Id">@region.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="LevelId"></label>
                <select asp-for="LevelId" class="form-control">
                    @foreach (var level in Model.Levels)
                    {
                        <option value="@level.Id">@level.Name</option>
                    }
                </select>
            </div>

            <input class="btn btn-info mt-3" type="submit" value="Save" />
        </form>
    </div>
</div>      