@model List<LatestWalkServiceModel>

@{
    ViewBag.Title = "Welcome!";
}


@if (!Model.Any())
{
    <div class="jumbotron">
        <h1 class="display-4 text-center">Welcome to Walks in Nature!</h1>
        <p class="lead text-center">There are no walks in the system currently available, so why don't you just add one?</p>
        <hr class="my-4">
        <p class="lead text-center">
            <a asp-controller="Walks" asp-action="Add" class="btn btn-info btn-lg" role="button">Add Walk</a>
        </p>
    </div>
}

@if (Model.Any())
{
    <div class="jumbotron" >
        <h1 class="display-4 text-center">Welcome to Walks in Nature!</h1>
        <p class="lead text-center" style="color:black;font-size:30px"><em>Enjoy of nature! Share with us! Let's go together!</em></p>
    </div>
}

<div class="mb-3"></div>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        @for (int i = 0; i < Model.Count; i++)
        {
            var walk = Model[i];

            <div class="carousel-item @(i == 0 ? "active" : string.Empty)">
                <img class="d-block w-100" src="@walk.ImageUrl" alt="@walk.Name">
                <div class="carousel-caption d-none d-md-block">
                    <h5><a class="btn btn-info" asp-controller="Walks" asp-action="Details" asp-route-id="@walk.Id" asp-route-information="@walk.GetWalkInformation()">@walk.Name</a></h5>
                </div>
            </div>
        }
    </div>
   <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
       <span class="carousel-control-prev-icon" aria-hidden="true"></span>
       <span class="sr-only">Previous</span>
   </a>
   <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
       <span class="carousel-control-next-icon" aria-hidden="true"></span>
       <span class="sr-only">Next</span>
   </a>
</div>

<div class="mb-3"></div>

<div class="row">
    <div class="col-12 text-center">
        <button class="btn btn-info" id="statistics-button">Show Site Statistics</button>
    </div>
</div>

<div class="jumbotron d-none" id="statistics">
    <div class="row">
        <h4 class="col-md-4 text-center" id="total-walks"></h4>
        <h4 class="col-md-4 text-center" id="total-users"></h4>
        <h4 class="col-md-4 text-center" id="total-events"></h4>
    </div>
</div>

@section Scripts {
    <script>
        $('#statistics-button').on('click', ev => {
            $.get('/api/statistics', (data) => {
                $('#total-walks').text(data.totalWalks + " Walks");
                $('#total-users').text(data.totalUsers + " Users");
                $('#total-events').text(data.totalEvents + " Events");
                $('#statistics').removeClass('d-none');
                $('#statistics-button').hide();
            });
        });
    </script>
}
