@model IEnumerable<WalkServiceModel>

<div class="row">
    @foreach (var walk in Model)
    {
        <div class="col-md-4">
            <div class="card mb-3">
                <img class="card-img-top" src="@walk.ImageUrl" alt="@walk.Name">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">@walk.Name</h5>
                    <h6 class="card-title text-center">Region: @walk.Region</h6>
                    <h6 class="card-title text-center">Level: @walk.Level</h6>
                    <h6 class="card-title text-center">Likes: @walk.Likes</h6>

                    <a asp-controller="Walks" asp-action="Details" asp-route-id="@walk.Id" asp-route-information="@walk.GetWalkInformation()" class="btn btn-info">More info</a>

                    @if (ViewBag.AllowWalkEdit == true || User.IsAdmin())
                    {
                        <a asp-controller="Walks" asp-action="Edit" asp-route-id="@walk.Id" class="btn btn-warning">Edit</a>
                        <a asp-controller="Walks" asp-action="Delete" asp-route-id="@walk.Id" class="btn btn-danger">Delete</a>
                    }
                </div>
            </div>
        </div>
    }
</div>