@model WalkDetailsServiceModel

@{
    ViewBag.Title = "Details";
}

<h3 class="display-4 text-center">@Model.Name Details</h3>
<hr />

<div class="row justify-content-center">
    <div class="card-deck col-8">
        <div class="card info-card">
            <div class="card-body text-center">
                <h5>Likes: @Model.Likes</h5>
                <hr />
                <img class="card-main-img card-img-top mb-3" src="@Model.ImageUrl" asp-append-version="true" alt="@Model.Name" />
                <div class="container-md-md row mb-3 ml-0 mr-0 justify-content-center">
                    <div class="container-md-md ml-0 mr-0">
                        <div class="m-1">
                            <h5>@Model.Name</h5>
                            <h5>Start point: @Model.StartPoint</h5>
                            <h5>Region: @Model.Region</h5>
                            <h5>Level: @Model.Level</h5>
                            <h5>Description: @Model.Description</h5>
                            <h5>Is Public: @Model.IsPublic</h5>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    @if (!User.IsAdmin())
                    {
                        <a class="btn btn-info mr-2" asp-controller="Walks" asp-action="All">Back To List</a>
                    }
                    else if (User.IsAdmin())
                    {
                        <a class="btn btn-info mr-2" asp-area="Admin" asp-controller="Walks" asp-action="All">Back To List</a>
                    }
                    @if (!User.IsAdmin())
                    {
                        <a class="btn btn-warning m-1" asp-controller="Walks" asp-action="AddLike" asp-route-id="@Model.Id">Add Like</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
