@model IEnumerable<InsuranceServiceModel>

@{
    ViewBag.Title = "My Insurances";
}

@if (!Model.Any())
{
    <h2 class="text-center">You do not have any booked insurances!</h2>
}

<section class="py-5">
    <div class="container">
        <h1 style="margin: 2%; text-align: center;">My insurances</h1>
        <div style="padding: 5%;">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">StartDate</th>
                        <th scope="col">EndDate</th>
                        <th scope="col">Number of people</th>
                        <th scope="col">TotalPrice</th>
                        <th scope="col">Details</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var insurance in Model)
                    {
                        <tr>
                            <td scope="col">@insurance.StartDate</td>
                            <td scope="col">@insurance.EndDate</td>
                            <td scope="col">@insurance.NumberOfPeople</td>
                            <td scope="col">@insurance.TotalPrice</td>
                            <td scope="col">
                                <a asp-controller="Insurances" asp-action="Details" asp-route-id="@insurance.Id" class="btn btn-info">View</a>                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

